<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<hr>
<form action="/join" method="post">
    <input type="text" placeholder="유저네임" value="ssar" name="username"> <br>
    <input type="password" placeholder="비밀번호" value="1234" name="password"> <br>
    <input type="email" placeholder="이메일" value="ssar@nate.com" name="email"> <br>
    <button type="submit">회원가입</button>
</form>
</body>
</html>