<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr>
<form action="/login" method="post">
    <input type="text" placeholder="유저네임" value="ssar" name="username"> <br>
    <input type="password" placeholder="비밀번호" value="1234" name="password"> <br>
    <button type="submit">로그인</button>
</form>
<a href="#">카카오 로그인</a>
</body>
</html>